body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1;
	margin: 0;
	padding: 0;;
}
.nav-panel-local {
	display: flex;
	background: #000;
	color: #fff;	
}
.nav-panel-local__operation p {
	border-right: 2px solid #fff;
	padding: 10px 20px;
	margin: 5px 0; 
	font-weight: 700;
	font-size: 20px;
}
.nav-panel-local__items {
	display: flex;
}
.navigation {
   	display: flex;
	counter-reset: myCounter;
  	list-style-type: none;
  	padding: 0;
  	margin: auto; 
}
.navigation__item{
	position: relative;
	padding-left: 30px;
	margin-left: 20px;
	line-height: 1.6;
	cursor: pointer;
}
.navigation__link {
 	text-decoration: none;
	color: #fff; 
	font-size: 14px;
	font-weight: 700;  
}
.navigation__link:after {
	position: absolute;
	top: 18px;
	left: 14px;
	width: 2px;
	color: #000;   
}
.navigation__link:before {
	content: counter(myCounter);
	counter-increment: myCounter;
	position: absolute;
	top: 0;
	left: 0;
	width: 22px;
	height: 22px;
	line-height: 22px;
	padding: 0px;
	font-weight: 700;
	color: #000;
	background: #fff;
	text-align: center;
	border-radius: 15px;
}
.navigation__link:hover {
	background-color: #169bd5;
	color: #fff;
}
.navigation__link:hover:before {
	background-color: #169bd5;
	color: #fff;
	text-decoration: none;	
}
.nav-panel-main {
	display: flex;
	justify-content: space-between;	
}
.container-wrap {
	border: 1px solid rgba(242, 242, 242, 1);
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
}
.pannel-group  {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f2f2f2;
	width: 125px;
	height: 186px;
	text-align: center;
	line-height: 1.5;
	font-size: 13px;
}
.pannel-icon {
 	color: #aaa;
}
.pannel-icon:hover {
 	color: #000;
 	text-decoration: none;
 	cursor: pointer;
}
.cancel {
	color: #000;
}
.fas {
	font-size: 	40px;
}
.nav-panel-main__right {
	display: flex;
	justify-content: flex-end;
}
.arrow-group {
	display: flex;
}
.arrow-block{
	margin-left: 30px;
}
.arrow-group__step {
	border-left: 2px solid #000;
	margin-left: 30px;
}
.table-panel {
	width: 80%;
	margin: auto;
	padding-top: 50px; 
}
.lock {
	position: relative;
}
.fa-lock {
	color: #7f7f7f;
	font-size:	15px;
	position: absolute;
	top: 12px;
	right: 12px;
}
.form-check {
	text-align: center; 
}
@media (max-width: 768px) {
.navigation {
	flex-direction: column;
}
.nav-panel-local__operation p {
	font-size: 16px;
	text-align: center;
}
}
